# Directories #
build
bin
target
logs
tmp

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# IntelliJ
######################

*.iml
.idea

######################
# Generated
######################

*.log
/uploads/

######################
# Eclipse
######################

*.pydevproject
.metadata
#.project # required otherwise we loose natures
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath # required as well
.settings/
.loadpath
.recommenders
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

#######
# XText
#######

**/src-gen/**
**/xtend-gen/**
**.xtendbin
!**/src-gen/.gitkeep
!**/xtend-gen/.gitkeep


# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
node_modules/
frontend/dist
.checkstyle
